<ion-menu [content]="mycontent" side="right" type="overlay">
  <ion-header>
    <ion-title><h4>在售</h4></ion-title>
  </ion-header>
  <ion-content>
    <ion-item-group *ngFor="let type of brandsType">
      <ion-item-divider color="light">{{type}}</ion-item-divider>
      <ion-item style="padding-left:9px" *ngFor="let list of brands[type]" (click)="toBrands(type,list.name)">
        <ion-thumbnail item-start>
          <img [src]="list.pic" class="brandsCarImg">
        </ion-thumbnail>
        <h2>{{list.name}}</h2>
        <h3 style="color:#FF6600">{{list.price}}</h3>
      </ion-item>
    </ion-item-group>
  </ion-content>
</ion-menu>


<ion-content class="secondpage" #mycontent>
  <div padding style="padding-bottom: 10px;">
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="suggests">
        主打车型
      </ion-segment-button>
      <ion-segment-button value="lists">
        所有车型
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="type">
    <!--主打车型-->
    <ion-grid *ngSwitchCase="'suggests'" class="carList">
      <ion-row>
        <ion-col col-4 *ngFor="let car of carList;index as i" menuToggle (click)="openMenu(car.name)">
          <ion-thumbnail class="thumbImg">
            <img [src]="car.pic">
          </ion-thumbnail>
          <p [innerHTML]="car.name"></p>
        </ion-col>
      </ion-row>

      <ion-card *ngFor="let car of carList" menuToggle (click)="openMenu(car.name)">
        <img [src]="car.src"/>
        <ion-card-content>
          <ion-card-title>
            {{car.name}}
          </ion-card-title>
          <p class="description">{{car.description}}</p>
        </ion-card-content>
      </ion-card>

    </ion-grid>

    <!--全部车型-->
    <div *ngSwitchCase="'lists'">

      <ion-input type="text" placeholder="输入汽车品牌" class="ionInput" [(ngModel)]='carName' (ngModelChange)="searchCar($event)"></ion-input>

      <ion-item-group *ngFor="let firstAlp of firstAlps">
        <ion-item-divider color="light">{{firstAlp}}</ion-item-divider>
        <ion-item *ngFor="let list of lists[firstAlp]">
          <ion-thumbnail item-start>
            <img [src]="list.logo">
          </ion-thumbnail>
          <h2>{{list.name}}</h2>
        </ion-item>
      </ion-item-group>
    </div>
  </div>
</ion-content>
