
.carList{
  text-align: center;
}
.description{
  text-align: justify;
  text-indent: 2em;
  padding-bottom:5px;
}

ion-thumbnail.thumbImg{
  >img{
    display: inline-flex;
  }
}
.ionInput{
  width:90% !important;
  margin:0 auto 10px;
  border:1px solid #ddd;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  input{
    margin :5px !important;
    padding:5px 0;
  }
}
