.topGrid {
  padding: 0;
  .col {
    padding: 0;
  }
}
.card{
  border-top:1px solid #ddd;
}

.slides-content {
  .slide-image{
    width:100%;
    height:100%;
  }
  .swiper-pagination-bullet {
    background: #fff;
    opacity: .5;
  }

  .swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

.toolslides {
  height: 120px;
  .swiper-pagination-bullets {
    bottom: -4px !important;
  }
  .swiper-pagination-bullet {
    opacity: .5;
    background: #aaa;
  }

  .swiper-pagination-bullet-active {
    background: #aaa !important;
    opacity: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

.tools {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  > li {
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    height: 90px;
  }
}

.newTitle {
  font-size: 1.6rem !important;
  text-align: left;
  padding: 8px !important;
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.newTitleOver {
  padding-right: 0 !important;
  height: 114px !important;
  overflow: hidden;
}

.itemBtn {
  font-size: 1rem !important;
  height: 30px;
  > .col {
    padding: 0 !important;
  }
  button {
    padding: 0 !important;
    margin: 0 !important;
    height: 25px !important;
    font-size: 2rem !important;
    color: #aaa;
    margin-right: 5px !important;
  }
}

.microVedio {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  > img {
    height: 80%;
    display: inline-flex !important;
    margin-top: 10%;
    vertical-align: middle !important;
  }
}

.microVedioTop {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  > img {
    width: 40%;
    height: 40%;
    margin: 25% auto;
    opacity: .7;
  }
}
.num{
  font-size: .4em;
  margin-left:2px;
  margin-top: -10px;
}
.goldColor{
  color:gold;
}
.redColor{
  color:red;
}
/*
#toTop{
  position: fixed;
  bottom:60px;
  right:20px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  overflow: hidden;
}*/
